*{
    box-sizing: border-box;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
    /*background-image: linear-gradient(to bottom right,#2d4877, #0F3045);*/
}

.persheader{
    background-color: #0F3045;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgb(0, 0, 0,0.5)

}
.perstheside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.perstheside span{
    color: white;
    font-size: 18px;
}
.persourlogo{
    width: 38px; 
    height: 38px;
    border-radius: 20%;
}
.persheader .perslinks ul{
    display: flex;
    flex-direction: row;
    padding: 10px;
    list-style: none;
    margin-right: 100px;
}
.persheader .perslinks ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 10px;
    font-weight: 450;
   
}
.persheader .perslinks ul li a:hover{
    border: none;
    border-bottom: 2px solid white;
    border-bottom-width: 1px;
}
.perssearch input{
    width:300px;
    height: 30px;
    padding: 5px 10px;
    padding-right: 60px;
    border-radius: 15px;
    border: none;
}
.perssearch button{
    margin-left: -70px;
    margin-top: 0px;
    position: absolute;
    border: none;
    padding:5px 10px;
    border-radius: 0px 15px 15px 0px;
    border-left: 1px solid hsl(0, 0%, 80%);
}
#persdashprofileimg{
    width: 45px;
    height: 45px;
    border-radius: 50%;

}

.persprofile ,.persprofile span{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}



















