.compinternlogbok{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    padding: 20px;
}
.compafteercomp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.compafteercomp img{
    width: 40%;
    cursor: all;
}




